body {
	background-image: url(../gt2torv/assets/gt2tutbg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-weight: normal;
}

img {
	max-width: 100%;
}

hr {
	margin-top: 2em;
}

@media only screen and (max-width: 1250px) {

	table td {
		padding: 0.75em;
		word-break: break-word;
		word-wrap: break-word;
	}
}