/* Global */
a:link, a:visited {
    color: rgb(204, 0, 0);

}
a:hover {
    color: rgb(210, 105, 30);

}
a:active {
    color: rgb(0, 0, 0);

}
.mainbody {
    background-image: url(../assets/background.png);
    background-size: 100%;
    background-attachment: fixed;
    margin-top: 30px;
    margin-bottom: 30px;

}
.maintable {
    float: center;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
    box-shadow: 0pt 0pt 10px black;

}
.maincell {
    border: 1px solid black;
    padding: 15px;

}
.cellfill {
    background-color: rgb(250, 250, 250);

}
.imgctr {
    vertical-align: middle;

}
.header {
    font-family: Candara, Verdana, sans-serif;
    color: rgb(102, 102, 102);
    font-size: 1.9em;

}
.headcomp {
    font-size: 1.5em;
    font-weight: bold;

}

/* right1.htm */
.landing {
    background-color: rgb(0, 0, 0);
    border: 2px solid black;

}
.landcell {
    padding: 0px;

}
.theader {
    background-color: rgb(0, 0, 0);
    color: rgb(204, 204, 204);
    font-family: Calibri, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;

}
.tsubhead {
    color: rgb(153, 153, 153);
    font-family: Consolas, "Courier New", monospace;
    font-size: 0.9em;
    font-style: italic;

}
.subheader {
    font-family: "Segoe UI", "MS Sans Serif", sans-serif;
    color: rgb(51, 204, 255);
    font-size: 1.25em;

}
.infobase {
    font-family: Calibri, Arial, sans-serif;
    font-size: 0.9em;
    font-weight: bold;

}
.updated {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(204, 204, 204);
    font-family: Arial, sans-serif;

}

/* left1.php */
.leftbody {
    background-color: rgb(80, 80, 80);
    margin-top: 14px;
    margin-bottom: 14px;

}
.leftmod {
    background-color: rgba(255, 255, 255, 0.8);
    width: 140px;

}
.leftcell {
    font-family: "Segoe UI", "MS Sans Serif", sans-serif;
    font-size: 0.8em;
    border: 1px solid black;
    padding: 8px;

}
.hilitefill {
    background-color: rgba(255, 204, 51, 0.9);

}
.carlist {
    font-family: Arial, sans-serif;
    font-size: 0.9em;

}
.hcbg {
    background-color: rgb(0, 0, 0);
    line-height: 17px;

}

/* carpages */
.darkcell {
    background-color: rgb(102, 102, 102);

}
.cartable {
    float: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Segoe UI", "MS Sans Serif", sans-serif;
    font-size: 0.85em;
    font-weight: bold;
    border-spacing: 10px;
    height: 300px;
    width: 880px;

}
.greycell {
    background-color: rgb(215, 215, 215);

}
.yellowcell {
    background-color: rgb(255, 204, 0);

}
.divsmash {
    float: left;
    width: 200px;

}
.lighthead {
    color: rgb(220, 220, 220);

}
.pageblurb {
    text-align: right;
    color: rgb(210, 210, 210);
    font-family: Consolas, "Courier New", monospace;

}
.pageswitch {
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Consolas, "Courier New", monospace;
    margin: auto;
    width: fit-content;
    padding: 10px;
    box-shadow: 0pt 0pt 10px black;

}

/* GT2Tut */
.tutfill {
    background-color: rgb(232, 232, 232);

}
.tutbase {
    font-family: Calibri, Arial, sans-serif;

}
.tutsh {
    color: rgb(46, 149, 193);
    font-family: "Segoe UI", "MS Sans Serif", sans-serif;
    font-weight: bold;

}
.vehlist {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.95em;

}
