body {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	font-family: Consolas, "Courier New", monospace;
	scrollbar-face-color: dark slate gray;
	scrollbar-arrow-color: #99ff99;
	scrollbar-track-color: black;
}

a {
	color: rgb(144, 238, 144);
	font-size: 1.2em;
}

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background-color: #000000;
}

::-webkit-scrollbar-thumb {
	background: #4b4b4b;
}

::-webkit-scrollbar-thumb:hover {
	background: #5c5c5c;
}

::-webkit-scrollbar-button:single-button {
	background-color: #2c2c2c;
	display: block;
	background-size: 12px;
	background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
	height: 32px;
	width: 16px;
	background-position: center 10px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(144, 238, 144)'><polygon points='0,100 25,100 50,60 75,100 100,100 50,25'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
	height: 32px;
	width: 16px;
	background-position: center 10px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(144, 238, 144)'><polygon points='0,0 25,0 50,40 75,0 100,0 50,75'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement {
	height: 16px;
	width: 32px;
	background-position: 10px center;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(144, 238, 144)'><polygon points='100,0 25,50 100,100 100,75 60,50 100,25'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
	height: 16px;
	width: 32px;
	background-position: 10px center;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(144, 238, 144)'><polygon points='0,0 75,50 0,100 0,75 40,50 0,25'/></svg>");
}
